<div class="wall">
  <div class="post">
    <h1 class="agency-name"><%= @agency.name %></h1>
    <div class="agency-info">
      <h4>Location: <%= @agency.agency_contact.city %>, <%= @agency.agency_contact.state %></h4>
      <h4><span class="animals-adopted">Animals Adopted: <%= @animalsAdopted %></span> <span class="dogs-available">Dogs Available for Adoption: <%= @dogsAvailable %></span></h4>
      <h4><span class="animals-fostered">Animals Fostered: <%= @animalsFostered %></span> <span class="cats-available">Cats Available for Adoption: <%= @catsAvailable %></span></h4>
    </div>
  </div>
  <% @agencyPosts.reverse.each do |post| %>
  <div class="post">
    <div class="post-title">
    <h4><%= post.animal.name %></h4>
    </div>
    <img src="http://placehold.it/500x500">
    <div>
      <div class="animal-top">
        <p><span class="name">Name: <%= post.animal.name %></span> <span>Breed: <%= post.animal.breed %></span> <span class="birthday">Birthday: <%= post.animal.birthday.strftime("%b %d, %Y") %></span></p>
      </div>
      <div class="animal-bottom">
        <p><span class="gender">Gender: <%= post.animal.gender %></span> <span class="weight">Weight: <%= post.animal.weight %>lbs</span> <span class="location">Location: <%= post.animal.agency.agency_contact.city %>, <%= post.animal.agency.agency_contact.state %></span></p>
      </div>
      <div class="animal-desc">
        <h4><%= post.description %></h4>
      </div>
      <div class="animal-comments">
        <% if post.comments %>
        <% post.comments.last(5).each do |comment| %>
          <% if comment.commenter_type == "Agency" %>
            <p class="animal-comment"><%= comment.commenter.name %> | <%= comment.comment%> | <%= comment.created_at.strftime("%m/%d/%Y")%></p>
            <% end %>
            <% if comment.commenter_type == "User" %>
            <p class="animal-comment"><%= comment.commenter.username %><%= comment.comment%></p>
            <% end %>
          <% end %>
        <% end %>
        <form class="" action="/comment/<%= post.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <p class="comment"><input type="text" name="comment" placeholder="Write a comment!"> <input type="submit" value="Comment"></p>
        </form>
      </div>
    </div>
  </div>
  <% end %>
</div>
