<div class="wall">
  <% @posts.reverse.each do |post| %>
    <div class="post">
      <div class="post-title">
      <h4><%= post.animal.name %></h4>
      </div>
      <img src="http://placehold.it/500x500">
      <div>
        <div class="animal-desc">
          <h4><%= post.description %></h4>
        </div>
        <div class="animal-comments">
          <% if post.comments %>
          <% post.comments.last(5).each do |comment| %>
            <% if comment.commenter_type == "Agency" %>
              <p class="animal-comment"><%= comment.commenter.name %> | <%= comment.comment%> | <%= comment.created_at.strftime("%m/%d/%Y")%></p>
              <% end %>
              <% if comment.commenter_type == "User" %>
              <p class="animal-comment"><%= comment.commenter.username %> | <%= comment.comment%> | <%= comment.created_at.strftime("%m/%d/%Y")%></p>
              <% end %>
            <% end %>
          <% end %>
          <form class="" action="/comment/<%= post.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <p class="comment"><input type="text" name="comment" placeholder="Write a comment!"> <input type="submit" value="Comment"></p>
          </form>
        </div>
      </div>
    </div>
  <% end %>
</div>
